<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Paid2Play.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Paid2Play.Properties.Settings.p2pConnectionString"
            connectionString="server=p2play.mysql.database.azure.com;user id=Ryan@p2play;persistsecurityinfo=True;database=p2p"
            providerName="MySql.Data.MySqlClient" />
        <add name="Paid2Play.Properties.Settings.p2pConnectionString1"
            connectionString="server=p2play.mysql.database.azure.com;user id=Ryan@p2play;password=Paid2play;persistsecurityinfo=True;database=p2p"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Paid2Play.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value>""</value>
            </setting>
        </Paid2Play.Properties.Settings>
    </userSettings>
</configuration>