<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Paid2Play.Properties.Settings.p2pConnectionString"
            connectionString="server=p2play.mysql.database.azure.com;user id=Ryan@p2play;persistsecurityinfo=True;database=p2p"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>